<% content_for :title, "Edit #{@photo.title}" %>
<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title center">Edit <%= @photo.title %></h3>
    </div>
    <div class="panel-body">
      <div class="center">
        <%= image_tag @photo.image.url(:medium), class: 'img-thumbnail' %>
      </div>
      <%= render 'form' %>

      <%= link_to 'Cancel', photo_path, class:'btn btn-default' %>
    </div>
  </div>

</div>