<div class="col-md-6 col-md-offset-3">
<div id="photos" class="transitions-enabled infinite-scroll">
    <% @photos.each do |photo| %>
        <div class="box panel panel-default">
          <%= link_to (image_tag photo.image.url, class: 'img-responsive'), photo_path(photo), class: 'title' %>
          <div class="panel-body">
            <h2 class="center"><%= link_to photo.title, photo_path(photo), class: 'title' %></h2>
          </div>
        </div>
    <% end %>
  </div>
</div>


