<div class="col-md-8 col-md-offset-2">
    <div class="center">
        <% @photos.each do |photo| %>
            <h2><%= link_to photo.title, photo_path(photo), class: 'title' %></h2>
        <% end %>
    </div>
</div>

