.center {
  text-align: center;
}

.title {
  color: #525252;
}

a:hover {
  text-decoration: none;
}

.gram {
  background: #fff;

  .content {
    padding: 30px;
  }

  .author {
    font-style: italic;
    margin-bottom: 30px;
  }

}

.form-group {
  textarea {
    min-height: 200px;
  }
}

footer {
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  background-color: #000;
  color: #fff !important;
}


