.center {
  text-align: center;
}

.title {
  color: #525252;
}

a:hover {
  text-decoration: none;
}

.gram {
  background: #fff;

  .content {
    padding: 30px;
  }

  .author {
    font-style: italic;
    margin-bottom: 30px;
  }

}

.form-group {
  textarea {
    min-height: 200px;
  }
}

footer {
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  background-color: #000;
  color: #fff !important;
}

.box {
  padding: 0px !important;
  background: #fff !important;
  font-size: 18px !important;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
