.center {
  text-align: center;
}

.title {
  color: #525252;
}

a:hover {
  text-decoration: none;
}

.gram {
  background: #fff;

  .content {
    padding: 30px;
  }

  .author {
    font-style: italic;
    margin-bottom: 30px;
  }

}

.form-group {
  textarea {
    min-height: 200px;
  }
}

footer {
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  background-color: #000;
  color: #fff !important;
}


#photos .panel-body {
  padding: 0px;

  h3 {
    font-size: 18px;
    margin: 15px;
  }
}

.btn {
  box-shadow: 0px -2px 0px rgba(0,0,0,0.2) inset !important;
}

input[type=text], .form-control {
  font-size: 18px;
  box-shadow: none;
  border-bottom: 2px solid #CCC!important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

input.file.form-control {
  background-color: transparent;
  font-size: 14px;
  border:none !important;
}

.box {
  max-width: 350px;
  width: 100%;
  margin: 10px;

  .panel-body {
    background-color: #f6f6f6;
  }
}

.box:hover img {
  opacity: 0.6;
  transition: all 0.2s;
}

.panel-default {
  border-color: #e6e6e6;
  box-shadow: none;
}




//@media screen and (max-width: 991px) {
//  .box {
//    width: 50% !important;
//  }
//}




